<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Home</title>

</head>
<style>
    input{
        margin-bottom: 1px;
        margin-top: 2px;
    }
</style>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SpringProject</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/books">Books</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/category">Categories</a></li>
        </ul>

    </div>
</nav>
<form action="/books/add/properties">
    <center>
        <input type="text" required="true" name="title"  placeholder="Book title"/> <br/>
        <input type="number" required="true" min="1" name="authorId" placeholder="Author id"/> <br/>
        <input type="number" required="true" min="1" name="categoryId" placeholder="Category id"/> <br/>
        <input type="number" required="true" min="1" name="size" placeholder="Book size (number)"/> <br/>
        <input type="submit" class="btn btn-success" value="Add book"/> <br/>
    </center>
</form>

</body>
</html>

